DOTNET_ENVIRONMENT=Production

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=BookingCareDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password

RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASSWORD=your_rabbitmq_password

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_gmail_app_password
EMAIL_FROM_EMAIL=your_email@gmail.com
EMAIL_FROM_NAME=BookingCare

API_BASE_URL=http://api:8080